@import url('https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #492118;
    font-family: 'poppins';
}
html{
    scroll-behavior: smooth;
}

header {
    background: #fff;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

.container {
    margin: 0 auto;
    padding: 0 1.5rem;
}

header .container {
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.logo{
    padding: 15px 10px;
}
.nav-bar {
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;
}
.cross-mark{
    display: none;
}
.transparent-div{
    display: block;
    height: 100px;
    width: 100vw;
    background-color: black;
}
.nav-bar .link {
    font-size: 20px;
    margin-left: 1.5rem;
    font-weight: 700;
    font-family: 'poppins';
    text-decoration-line: none;
}

.nav-bar .link:first-child {
    margin-left: 0;
}

.hamberger-manu {
    display: none;
    height: 90px;
    width: 90px;
    border-radius: 0 0 0 100%;
    text-align: center;
    cursor: pointer;

}

.hamberger-manu img {
    position: relative;
    top: 1.4rem;
    left: 0.5rem;
    height: 1rem;
}

/* hero section----- */
.hero-section,
.section {
    padding: 90px 65px;
    background-color: #F6F0EB;
}

.hero-container {
    margin: 0 auto;
    max-width: 1290px;
    text-align: center;
}

.img-container {
    width: 100%;
}

.img-container img {
    width: 100%;
}

.hero-container p {
    margin-top: 23px;
    color: #492118;
    font-size: 24px;
}

/* section container */
.section .hero-container {
    max-width: 1040px;
}

.section .hero-container p {
    margin-bottom: 60px;
    margin-top: 0;
    font-size: 48px;
    font-weight: 700;
}

.go-to-top {
    text-align: end;
}

.go-to-top a {
    margin-top: 50px;
    font-size: 28px;
}
.made-width + .made-width{
    text-align: center;
    font-size: 20px;
    margin-top: 40px;
}
/* manu card */

@media (max-width: 1100px) {
    .nav-bar .link {
        font-size: 16px;
        margin-left: 1rem;
    }

    .hero-section {
        padding: 90px 45px;
    }

    .section {
        padding: 90px 65px;
    }

    .section .hero-container p {
        margin-bottom: 50px;
        font-size: 28px;
    }

}
    .show-manu .nav-bar{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 10px;
        right: 20px;
        background-color: #FFFFFFBF;
        padding: 45px 50px 35px 25px  ;
        animation: sidebar 0.2s ease-in-out;
    }
    .show-manu .cross-mark{
        font-size: 1.4rem;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        display: block;
    }
    @keyframes sidebar {
        from{right: -253px;}
        to{right: 20px;}
    }
     @keyframes close {
         from{right: 20px;}
         to{right: -253px;}
    }
    .show-manu .hamberger-manu{
        display: none;
    }
@media (max-width: 880px) {
    header {
        background-color: #F6F0EB99;
    }
    .logo img{
        width: 50px;
    }
    .nav-bar .link{
        margin: 0;
        padding-bottom: 10px;
    }
    .nav-bar{
        display: none;
        animation: close 0.8s ease-in-out;
    }
    .hamberger-manu {
        display: block;
        background-color: #FFFFFF;
    }

    .hero-section,
    .section {
        padding: 50px 25px;
    }

    .hero-container p {
        font-size: 16px;
    }

    .section .hero-container p {
        margin-bottom: 20px;
        font-size: 16px;
    }
}